<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/assets/favicon.ico">
    <title>sift</title>
    <link href="/assets/css/app.736b4b06.css" rel="preload" as="style">
    <link href="/assets/js/app.3b456eb4.js" rel="preload" as="script">
    <link href="/assets/js/npm.axios.de9aabad.js" rel="preload" as="script">
    <link href="/assets/js/npm.core-js.3a4e0bed.js" rel="preload" as="script">
    <link href="/assets/js/npm.vue.101d114f.js" rel="preload" as="script">
    <link href="/assets/js/runtime.16f8e42f.js" rel="preload" as="script">
    <link href="/assets/css/app.736b4b06.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but sift doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/assets/js/runtime.16f8e42f.js"></script>
<script src="/assets/js/npm.core-js.3a4e0bed.js"></script>
<script src="/assets/js/npm.axios.de9aabad.js"></script>
<script src="/assets/js/npm.vue.101d114f.js"></script>
<script src="/assets/js/app.3b456eb4.js"></script>
</body>
</html>